doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
  body
    block content
    script(src='http://code.jquery.com/jquery-3.3.1.min.js')
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href="#") Navbar
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarSupportedContent
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href="#") Home
           span.sr-only (current)
        li.nav-item
          a.nav-link(href="#") Link
        li.nav-item
           a.nav-link.disabled(href="#") Disabled

      form.form-inline.my-2.my-lg-0
         input.form-control.mr-sm-2(type="search" placeholder="Search" aria-label="Search")
         button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search
         h1 hello
